.section {
  margin-bottom: 24px;
}

.section :global(.ant-typography) {
  margin-bottom: 16px;
}

.modelAdvanced {
  margin-top: 8px;
  margin-bottom: 28px;
}

.submitterRight {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
